import React, { Component } from 'react'
import styles from './{{ properCase name}}.css'

class {{ properCase name}} extends Component {
  render () {
    return (
      <div className={styles.base}>
        Change me ({{ properCase name}})
      </div>
    )
  }
}

export default {{ properCase name}}
